<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :postal_code %>
  <%= f.text_field :postal_code %>
</div>

<div class="field">
  <%= f.label :address %>
  <%= f.text_field :address %>
</div>

<div class="field">
  <%= f.label :self_introduction %>
  <%= f.text_area :self_introduction %>
</div>

<div class="image">
    <% if user_signed_in? && current_user.image.attached? %>
      <%= f.label :image %>
      <%= image_tag current_user.image.variant(resize: "100x100") %>
      <br>
      <%= t('views.common.update_icon') %>
      <br>
      <%= f.file_field :image %><br>
    <% else %>
      <%= f.label :image %>
      <%= f.file_field :image %><br>
    <% end %>
</div>
