<%= form_with(model: [commentable, comment], local: true) do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <%= f.submit t('helpers.submit'), class: "btn btn-primary" %>
<% end %>
