<table>
  <thead>
    <tr>
      <th><%= t('views.users.follow') %></th>
      <th><%= t('views.users.follower') %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <a href="<%= user_followings_path(@user) %>">
          <%= @user.following.count %>
        </a>
      </td>
      <td>
        <a href="<%= user_followers_path(@user) %>">
          <%= @user.followers.count %>
        </a>
      </td>
    </tr>
  </tbody>
</table>
